<!DOCTYPE html>
<head>
    <title>OpenAI Quickstart</title>
    <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='dog.png') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
</head>

<body>
<img src="{{ url_for('static', filename='dog.png') }}" class="icon"/>
<h3>Complete a prompt</h3>
<form action="/" method="post">
    <input type="text" name="prompt_field" placeholder="Enter a prompt" required/>
    <input type="submit" value="Generate"/>
</form>
{% if your_input %}
    <h2>Your input:</h2>
    <div class="result">{{ your_input }}</div>
{% endif %}

{% if result %}
    <h2>Result:</h2>
    <div class="result">{{ result }}</div>
{% endif %}
</body>
